---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0Ec2cfiKCwCxSfddXK712mDES", oauth_nonce="oxBuUvMjFWfeeA1f6CyNdi3LY3q3knxJVX7KuP9EcM",
        oauth_signature="AD8QZoXL1RWSQZ8HbkzjqILhg6I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1464266919", oauth_token="3300701839-FYiAhJAUJ7espcn1Ivxnhya3ucplDrQ9A497t5Q",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 May 2016 12:48:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fecf64dc60bbed35067571a9dae0002e
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '11'
      X-Rate-Limit-Reset:
      - '1464267004'
      X-Response-Time:
      - '112'
      X-Transaction:
      - 12e8c33ebbdbd06d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu May 26 12:48:22 +0000 2016","id":735814835317800962,"id_str":"735814835317800962","text":"As
        we ramp up Front-End Engineering, @turingschool is hiring instructors for
        both our FEE and back-end programs. Join us in Denver?","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"turingschool","name":"Turing
        School","id":1973042528,"id_str":"1973042528","indices":[37,50]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/tapbots.com\/tweetbot\" rel=\"nofollow\"\u003eTweetbot for
        i\u039fS\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1133971,"id_str":"1133971","name":"Jeff
        Casimir","screen_name":"j3","location":"Denver, CO","description":"Don''t
        talk about it, be about it. Executive Director at the @TuringSchool.","url":"https:\/\/t.co\/TrJ7G7QGvg","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TrJ7G7QGvg","expanded_url":"http:\/\/turing.io","display_url":"turing.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":6697,"friends_count":1416,"listed_count":445,"created_at":"Wed
        Mar 14 02:35:24 +0000 2007","favourites_count":5409,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":25443,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"9AE4E8","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/7508525\/DSC00302.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/7508525\/DSC00302.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/667052575775043584\/GAMQ5_2P_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/667052575775043584\/GAMQ5_2P_normal.jpg","profile_link_color":"0000FF","profile_sidebar_border_color":"87BC44","profile_sidebar_fill_color":"E0FF92","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":{"id":"6f3cab6cd4359294","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/6f3cab6cd4359294.json","place_type":"neighborhood","name":"North
        Capitol Hill","full_name":"North Capitol Hill, Denver","country_code":"US","country":"United
        States","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-104.987406,39.740014],[-104.973384,39.740014],[-104.973384,39.747574],[-104.987406,39.747574]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Thu
        May 26 12:48:20 +0000 2016","id":735814830104416256,"id_str":"735814830104416256","text":"I
        uploaded a new #swiftlang video to YouTube: How to install Swift 3 today.
        https:\/\/t.co\/2AJSUc1cVw","truncated":false,"entities":{"hashtags":[{"text":"swiftlang","indices":[17,27]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/2AJSUc1cVw","expanded_url":"https:\/\/www.youtube.com\/watch?v=SaXltxu3C-w","display_url":"youtube.com\/watch?v=SaXltx\u2026","indices":[76,99]}]},"source":"\u003ca
        href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\" rel=\"nofollow\"\u003eTweetbot
        for Mac\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to[...]
