---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="HwhIl4mf1zq3xEl1MJPLwVpru", oauth_nonce="uzHGRTzJpLrIsHOwQ9RBFVXEoGivzaMP2pOlLsjm5Iw",
        oauth_signature="sXrTlkgFGpTZ6OfMQwQaufVggKw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1464287563", oauth_token="3300701839-kxaCkTguUh9Pk2wGO68jpd1cYzd7XfwOhH3qa4Q",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 May 2016 18:32:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 7cc95bd1f0713d1997ee8992c046ba7a
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1464287984'
      X-Response-Time:
      - '95'
      X-Transaction:
      - 6a6fb7ea6731fa01
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu May 26 18:30:06 +0000 2016","id":735900838351212545,"id_str":"735900838351212545","text":"Will
        Dallas Be a #SmartCity? https:\/\/t.co\/8HCpxtxL89","truncated":false,"entities":{"hashtags":[{"text":"SmartCity","indices":[17,27]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/8HCpxtxL89","expanded_url":"http:\/\/bit.ly\/1sRRXII","display_url":"bit.ly\/1sRRXII","indices":[29,52]}]},"source":"\u003ca
        href=\"http:\/\/www.radian6.com\" rel=\"nofollow\"\u003eRadian6 -Social Media
        Management\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14675801,"id_str":"14675801","name":"Universal
        Mind","screen_name":"universalmind","location":"","description":"Universal
        Mind specializes in creating digital experiences that simplify people\u2019s
        lives. We\u2019re one of the largest independent digital agencies in North
        America.","url":"http:\/\/t.co\/2uUfjpH0ps","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/2uUfjpH0ps","expanded_url":"http:\/\/www.universalmind.com","display_url":"universalmind.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":3229,"friends_count":1206,"listed_count":366,"created_at":"Tue
        May 06 17:02:07 +0000 2008","favourites_count":723,"utc_offset":-21600,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":3153,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"333333","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/630784084369801216\/8N1mIPaH.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/630784084369801216\/8N1mIPaH.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/630773471480385536\/sddAiYm0_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/630773471480385536\/sddAiYm0_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14675801\/1439225496","profile_link_color":"72BE44","profile_sidebar_border_color":"BBBBBB","profile_sidebar_fill_color":"DEDEDE","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Thu
        May 26 18:29:58 +0000 2016","id":735900802259275776,"id_str":"735900802259275776","text":"Chicago
        #ORD to Paris #CDG $647 round-trip for fall\/winter\/spring travel. #airfare
        https:\/\/t.co\/HTb7go9SmB https:\/\/t.co\/50dngotOVG","truncated":false,"entities":{"hashtags":[{"text":"ORD","indices":[8,12]},{"text":"CDG","indices":[22,26]},{"text":"airfare","indices":[74,82]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/HTb7go9SmB","expanded_url":"http:\/\/www.airfarewatchdog.com\/blog\/28780275\/chicago-to-for-fall-winter-spring-travel\/","display_url":"airfarewatchdog.com\/blog\/28780275\/\u2026","indices":[83,106]}],"media":[{"id":735900801378328576,"id_str":"735900801378328576","indices":[107,130],"media_url":"http:\/\/pbs.twimg.com\/media\/CjZx4UAUoAAzNCX.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CjZx4UAUoAAzNCX.jpg","url":"https:\/\/t.co\/50dngotOVG","display_url":"pic.twitter.com\/50dngotOVG","expanded_url":"http:\/\/twitter.com\/airfarewatchdog\/status\/735900802259275776\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":589,"resize":"fit"},"large":{"w":1024,"h":1005,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":334,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":735900801378328576,"id_str":"735900801378328576","indices":[107,130],"media_url":"http:\/\/pbs.twimg.com\/media\/CjZx4UAUoAAzNCX.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CjZx4UAUoAAzNCX.jpg","url":"https:\/\/t.co\/50dngotOVG","display_url":"pic.twitter.com\/50dngotOVG","expanded_url":"http:\/\/twitter.com\/airfarewatchdog\/status\/735900802259275776\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":589,"resize":"fit"},"large":{"w":1024,"h":1005,"resize":"fit[...]
