---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0Ec2cfiKCwCxSfddXK712mDES", oauth_nonce="EO0zeEFMXakwq4fPgRvDhDn8N1sprSc1Xo5plGhHE5U",
        oauth_signature="IPoGGMvYS5ky1AqXRJJXGon3VfQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1464204770", oauth_token="3300701839-FYiAhJAUJ7espcn1Ivxnhya3ucplDrQ9A497t5Q",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 25 May 2016 19:32:50 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a047fdf70cad38b3f88d45221d648a00
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1464205020'
      X-Response-Time:
      - '131'
      X-Transaction:
      - 72e7a0396209c317
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed May 25 19:30:07 +0000 2016","id":735553551171244033,"id_str":"735553551171244033","text":"Don\u2019t
        leave this deal up in the air! Save 25% on air when you book a vacay by 5\/30!
        +Restr https:\/\/t.co\/8H3OiQljkV https:\/\/t.co\/EFX0mSQZcV","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/8H3OiQljkV","expanded_url":"http:\/\/bit.ly\/1ONGKNs","display_url":"bit.ly\/1ONGKNs","indices":[91,114]}],"media":[{"id":735553550000881664,"id_str":"735553550000881664","indices":[115,138],"media_url":"http:\/\/pbs.twimg.com\/media\/CjU2Dn0UgAA-VnV.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CjU2Dn0UgAA-VnV.jpg","url":"https:\/\/t.co\/EFX0mSQZcV","display_url":"pic.twitter.com\/EFX0mSQZcV","expanded_url":"http:\/\/twitter.com\/JetBlue\/status\/735553551171244033\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":512,"resize":"fit"},"medium":{"w":600,"h":300,"resize":"fit"},"small":{"w":340,"h":170,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":735553550000881664,"id_str":"735553550000881664","indices":[115,138],"media_url":"http:\/\/pbs.twimg.com\/media\/CjU2Dn0UgAA-VnV.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CjU2Dn0UgAA-VnV.jpg","url":"https:\/\/t.co\/EFX0mSQZcV","display_url":"pic.twitter.com\/EFX0mSQZcV","expanded_url":"http:\/\/twitter.com\/JetBlue\/status\/735553551171244033\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":512,"resize":"fit"},"medium":{"w":600,"h":300,"resize":"fit"},"small":{"w":340,"h":170,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/www.radian6.com\" rel=\"nofollow\"\u003eRadian6 -Social Media
        Management\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":6449282,"id_str":"6449282","name":"JetBlue
        Airways","screen_name":"JetBlue","location":"1-800-JETBLUE","description":"Hi,
        nice to tweet you! Fly with us to 90+ destinations and experience our award-winning
        service. For concerns that require a response, call or email.","url":"https:\/\/t.co\/51Ra6SGKWf","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/51Ra6SGKWf","expanded_url":"http:\/\/www.jetblue.com","display_url":"jetblue.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":2017073,"friends_count":108566,"listed_count":12246,"created_at":"Wed
        May 30 17:51:54 +0000 2007","favourites_count":27425,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":369943,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"0F4B8F","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/712543202\/13f2df6c8ed5f703ccb0d94ab697853f.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/712543202\/13f2df6c8ed5f703ccb0d94ab697853f.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/672145258822680577\/Vk4kbbfH_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/672145258822680577\/Vk4kbbfH_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/6449282\/1453501019","profile_link_color":"3399CC","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EEEEEE","profile_text_color":"999999","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Wed
        May 25 19:26:39 +0000 2016","id":735552679305306112,"id_str":"735552679305306112","text":"o
        shit whaddup https:\/\/t.co\/1l9iFat2cd","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":735552677724098560,"id_str":"735552677724098560","indices":[15,38],"media_url":"http:\/\/pbs.twimg.com\/media\/CjU1Q2VVEAASEMJ.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CjU1Q2VVEAASEMJ.jpg","url":"h[...]
